page-setup {
    ion-navbar ion-buttons button img{
        width: 55%;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        height: 30px;
    }
    .back{
        float:left;
        margin-left: -15px;
        width:20px;

    }
}
