<ion-header  text-center >

  <ion-navbar text-center  color='mainblue'>

    <ion-buttons left>
        <button ion-button icon-only (click)='back()'>
          <img src="assets/imgs/left.png" alt="">
        </button>
    </ion-buttons>
    <ion-title>口袋医生</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
     <ion-item *ngFor='let item of arr;'>
          <h2>{{item.cliqueName}}</h2><br/>
          <span>{{cdate}}</span>
          <p>{{item.cliqueArticle}}</p>
          <img src="{{item.cimage}}">
      </ion-item>

  <ion-item *ngFor='let item of arr1;let i = index'>
    <ion-avatar item-start>
      <img src="{{arr1[i].userPhoto}}">
    </ion-avatar>
    <h2>{{arr1[i].username}}</h2><br/>
    <span>2018-6-6</span>
    <p>{{arr1[i].commentArtile}}</p>
</ion-item>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-icon name="ios-list-box-outline" item-start></ion-icon>
    <ion-input type="text" placeholder="请输入评论" [(ngModel)]="txt"></ion-input> 
    <button ion-button item-end (click)="add()">发送评论</button>
  </ion-item>
 
</ion-footer>