page-reservation {
    ion-navbar ion-buttons button img{
        width: 55%;
    }
    .txt3{
        float:right;
        color:gray;
    }
    .txt4{
        color:orangered;
    }
    .txt5{
        float:right;
        background-color:rgb(49,184,196);
        border:1px solid white;
        width:45px;
        height:25px;
        border-radius: 5px;
    }
    .txt6{
        width:80%;
        margin:0 auto;
        height:40px;
        color:white;
        background-color:rgb(49,184,196);
        text-align: center;

    }
    .txt7{
        color:black;
        font-size:14px;
        
    }
    .txt11{
        float:right;
        background-color:white;
        border:1px solid white;
        color:black;
        width:100%;
        height:50px;
        border:1px solid black;
    }
    .tianjia{
        float:right;
        background-color:rgb(49,184,196);
        border:1px solid white;
        width:45px;
        height:25px;
        border-radius: 5px;
    }
    #one{
        text-align: center;
    }

}
