page-knowledgecomment {
    ion-navbar ion-buttons button img{
        width: 55%;
    }
    .txt1{
        float:left;
        font-size:14px;
        color:gray;
    }
    .txt2{
        float:right;
        font-size:14px;
        color:gray;
    }
    .txt3{
        margin-left:50px;
        font-size:14px;
        color:gray;
    }
}
