page-select {
    ion-navbar ion-buttons button img{
        width: 55%;
    }
    text-align: center;
    .add{
        margin:0 auto;
        width:45%;
        background-color:rgb(49,184,196);
    }
}
