<!-- 头部 -->
<ion-header  text-center >

    <ion-navbar text-center  color='mainblue'>
      <ion-buttons left>
          <button ion-button icon-only (click)='back()'>
            <img src="assets/imgs/left.png" alt="">
          </button>
      </ion-buttons>
      <ion-title>咨询</ion-title>
  
    </ion-navbar>
  
  </ion-header>

<!-- 主体内容 -->
<ion-content padding>

        <ion-item-group>
          <ion-item-divider color="light">快速问诊</ion-item-divider>
          <ion-item  *ngFor='let item of arr1;'>
              <p>咨询的问题</p>
              <span>{{item.qdirection}}</span><span class="txt1">{{item.time}}</span>
              <p class="pp">等待医生解决</p>
         </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider  color="light">免费问诊</ion-item-divider>
            <ion-item   *ngFor='let item of arr;'>
                <p>咨询的问题</p>
                <span>{{item.Qdirection}}</span><span class="txt1">{{item.Time}}</span>
                <p class="pp">等待医生解决</p>
           </ion-item>
          </ion-item-group>
</ion-content>
