page-addp {
    .back{
        float:left;
        margin-left:-23px;
      
        width:20px;
    }
    .end{
        margin-left:120px;
        color:#31b8c4;
    }
    .sure{
        margin-top:100px;
        font-size:20px;
        height:40px;
    }
}
