page-about{
    .redian{
		text-align: left;
		padding-left: 10px;
		margin: 6px;
		border-bottom: 1px solid gray;
	}
	.redian img, span{
         vertical-align: middle;
         font-size:14px;
      }
    
}