page-username {
    ion-navbar ion-buttons button img{
        width: 55%;
    }
    text-align: center;
    .btn{
        height:50;
        width:35%;
        margin:0 auto;
        background-color: rgb(49,184,196);
        border-radius: 10px;
    }
}
